
body {
    background-color: lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}
#container {
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
header {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 10px;
    text-align: left;
    background: #d9138a;
    color: white;
    margin-top: 0px;
    height: 100px;
}
header h1{
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}
header h2 {
    padding: 30px;
    font-size: 20px;
    font-weight: bold;

}
img {
    float: left;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    height: 40px;
}
nav ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* styles for the li in the ul in the nav */
nav li {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 36px;
    display: inline;
    float: left;
    margin-left: 1%;
    padding-left: 0;
    padding-right: 0;
    width: 32%;
    white-space: nowrap;
    border-radius: 0;
    background-color: #212020;
}

/* styles for the anchor elements inside the li inside nav */
nav li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 10px;
    width: 65%;
    float: left;

}
aside {
    padding: 10px;
    width: 30%;
    float: right;

}
ul a {
    font-size: 20px;
    padding: 10px;
}
ul
{
    line-height: 30px;
}

h1#name
{
    color: #d9138a;
}
p
{
    text-align:justify;
    line-height: 25px;
    font-size: 18px;

}

footer {
    clear: both;
    background-color: #d9138a;
    height: 50px;
    padding: 10px;
    text-align: left;
    color: white;
}










